<div class="count_panel modal">
	<ion-header-bar>
		<h1 class="title">记账</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeCount()">关闭</button>
		</div>
	</ion-header-bar>
	<ion-content>
	    <form ng-submit="doCount()">
			<div id="calculator">
				<div class="row">
					<div class="screen col">123123</div>
				</div>
				<div class="row type">
					<ion-scroll zooming="true" direction="x" scrollbar-x="false" style="width: 1000px;">
					<div class="col" style="width: 1140px;">
						<div style="background:#669999;"><i class="icon ion-home"></i></div>
						<div style="background:#996699;"><i class="icon ion-model-s"></i></div>
						<div style="background:#99CCCC;"><i class="icon ion-fork"></i></div>
						<div style="background:#CC9966;"><i class="icon ion-knife"></i></div>
						<div style="background:#9999CC;"><i class="icon ion-pizza"></i></div>
						<div style="background:#CC9999;"><i class="icon ion-coffee"></i></div>
						<div style="background:#FFCC99;"><i class="icon ion-beer"></i></div>
						<div style="background:#66CCCC;"><i class="icon ion-wineglass"></i></div>
						<div style="background:#999999;"><i class="icon ion-icecream"></i></div>
						<div style="background:#CC6699;"><i class="icon ion-iphone"></i></div>
						<div style="background:#999966;"><i class="icon ion-game-controller-b"></i></div>
						<div style="background:#FF9999;"><i class="icon ion-card"></i></div>
						<div style="background:#99CC99;"><i class="icon ion-bag"></i></div>
						<div style="background:#66FFFF;"><i class="icon ion-mic-c"></i></div>
						<div style="background:#9999FF;"><i class="icon ion-plane"></i></div>
					</div>
					</ion-scroll>
				</div>
				<div class="row">
					<div class="btn col">7</div>
					<div class="btn col">8</div>
					<div class="btn col">9</div>
					<div class="btn col">C</div>
				</div>
				<div class="row">
					<div class="btn col">4</div>
					<div class="btn col">5</div>
					<div class="btn col">6</div>
					<div class="btn col">+</div>
				</div>
				<div class="row">
					<div class="btn col">1</div>
					<div class="btn col">2</div>
					<div class="btn col">3</div>
					<div class="btn col">-</div>
				</div>
				<div class="row">
					<div class="btn col">0</div>
					<div class="btn col">.</div>
					<div class="btn col">=</div>
					<div class="btn col ok">OK</div>
				</div>
			</div>
	    </form>
	</ion-content>
</div>

<style type="text/css">
.count_panel.modal{
	background: #394e6b;
	color: #fff;
}
.count_panel .bar{
	background: #394e6b;
	color: #fff;
}
.count_panel .bar h1{
	color: #fff;
}
.count_panel .bar .button-clear{
	color: #fff;
}
#calculator{
}
#calculator .btn{
	cursor: pointer;
	min-width: 67px;
	min-height: 42px;
	line-height: 40px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 0 3px 12px 3px;
	color: #888;
	text-align: center;
	user-select: none;
}
#calculator .row.type{
	padding: 0;
/*	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	background: #fff;*/
	height: 84px;
	margin: 0 0px 22px 0px;
}
#calculator .row.type .col{
	min-height: 86px;
	line-height: 84px;
	height: 84px;
	color: #888;
	text-align: center;
	user-select: none;
	overflow: hidden;
}
#calculator .row.type .col div{
	width: 65px;
	height: 65px;
	line-height: 65px;
	float: left;
	border-radius: 50%;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 5px;
	font-size: 30px;	
	background: #6699CC;
	color:#fff;
}
#calculator .screen{
	height: 60px;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 30px;
	line-height: 60px;
	margin: 0 3px 12px 3px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}
#calculator .btn.clear{
	background: #eee;
}
#calculator .btn.ok{
	background: #d4ffff;
}
#calculator .btn.ok:active{
	background: #000;
}
</style>