<ion-view title="记账" hide-back-button="true">
 	<ion-nav-buttons side="left">
    	<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
    	<div class="main_top_box">
    		<div class="fl">
    			<div class="main_title">今日收入</div>
    			<div class="main_money"><b>0</b></div>
    		</div>
    		<div class="fr">
    			<div class="main_title">今日支出</div>
    			<div class="main_money"><b>0</b></div>
    		</div>
    	</div>
    	<div class="main_content_box row">
			<!-- <div class="col">.col</div>
			<div class="col">.col</div> -->
    	</div>
    	<div class="main_btn" on-tap="count()">
    		<i class="icon ion-plus-round"></i>
    	</div>
  	</ion-content>
</ion-view>
<style type="text/css">
.main_btn{
	background: #fff;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid #ccc;
	color: #6699CC;
	position: absolute;
	top:24px;
	left:50%;
	margin-left: -64px;
}
.main_btn i{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 70px;
	margin-top: -35px;
	margin-left: -26px;
}
.main_top_box{
	width: 100%;
	height: 80px;
	/*background: #ff9966;*/
	border-bottom: 2px solid #eee;
	color: #fff;
}
.main_title{
	height: 20px;
}
.main_money{
	vertical-align:bottom;
	line-height: 80px;
	height: 60px;
	font-size: 1em;
	overflow: hidden;
}
.main_money b{
	font-size: 1.8em;
}
.main_top_box .fl{
	float: left;
	width: 50%;
	text-align: left; 
	padding-left: 8px;
}
.main_top_box .fr{
	float: right;
	width: 50%;
	text-align: right;
	padding-right: 8px;
}
.main_content_box{
	padding-top: 80px;
}
</style>