<ion-view title="设置">
  	<ion-nav-buttons side="left">
    	<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	<ion-content class="has-header">
    	<div class="list">
    		<div class="item item-divider">
	       		管理
	        </div>
    		<a class="item item-icon-left" href="#">
			    <i class="icon ion-mic-a"></i>
			    	个人中心
			    <span class="item-note">
			      	461836324@qq.com
			    </span>
			</a>
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    修改密码
			</a>
			
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    数据同步
			</a>
			<br />
			<div class="item item-divider">
	       		工具
	        </div>
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    汇率计算
			</a>
			<br />
  			<div class="item item-divider">
	       		设置
	        </div>
  			<a class="item item-icon-left" href="#">
    			<i class="icon ion-person-stalker"></i>
   				支出类别
   				<span class="item-note">
			      	15 个
			    </span>
  			</a>
  			<a class="item item-icon-left" href="#">
    			<i class="icon ion-person-stalker"></i>
   				收入类别
    			<span class="item-note">
			      	8 个
			    </span>
  			</a>
  			<a class="item item-icon-left" href="#">
    			<i class="icon ion-person-stalker"></i>
   				每日预算
    			<span class="item-note">
			      	125 元
			    </span>
  			</a>
  			<br />
  			<div class="item item-divider">
	       		其他
	        </div>
	        <a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    意见投诉
			</a>
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    更新日志
			</a>
			<a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    关于我们
			</a>
			<!-- <a class="item item-icon-left" href="#">
			    <i class="icon ion-email"></i>
			    版本号
			    <span class="item-note">
			      	2014.11.19
			    </span>
			</a> -->
		</div>
  	</ion-content>
</ion-view>
